*{margin: 0;}

.header {
    background: blue;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 4px;
    font-family: sans-serif;
}

.control-panel {
    background: lightgray;
    text-align: right;
    padding: 4px;
    font-family: verdana;
}

.languages,.fontsize,.themename{
    background: white;
    border: 2px solid black;
    height: 30px;
    width: 90px;
    border-radius: 5px;
}

#fs{
    background: gray;
    border: 2px solid black;
    height: 30px;
    width: 100px;
    border-radius: 5px;
}

#editor { height: 400px; }

.button-container {
    text-align: right;
    padding: 4px;
}

.btn1 {
    background: deeppink;
    color: black;
    padding: 8px;
    height: 40px;
    width: 100px;
    border: 2px solid black;
}

.btn2 {
    background: deeppink;
    color: black;
    padding: 8px;
    height: 40px;
    border: 2px solid black;
}

.output {
        padding: 4px;
        border: 2px solid black;
        min-height: 100px;
        width: 99%;
        resize: none;
}